.App {
  justify-content: center;
  background-color: #69676e;
}
.App-header {
  color: rgb(252, 0, 0);
}
/* logo */
.App-logo {
  height: 300px;
  width: 300px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* logo */
.App-heading {
  color: green;
  text-align: center;
  position: top;
  font-size: 60px;
}
.App-link {
  color: #61dafb;
}

.dog-image {
  position: center;
  height: 700px;
  width: 700px;
}
button {
  width: 500;
  height: 500;
  size: 100px;
}
